@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

header{
    width: 1030px;
    height: 55px;
    background: #1a2028;
    margin: auto;
    margin-top: 3%;
    border-radius: 7px;
    border-left-color: #ad00ff;
    border-left-width: 1px;
    border-left-style: solid;
    display: flex;
}

header #logo{
    width: 30px;
    margin-left: 2%;
}

header h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 9px;
    margin-left: 2%;
}

header input{
    width: 380px;
    height: 35px;
    background-color: #34373b;
    color: #fff;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 12px;
    border-style: none;
    padding-left: 12px;
}

header label img{
    width: 20px;
    margin-top: -27px;
    margin-left: 20%;
    position: absolute;
}

header ul{
    margin-top: 18px;
    margin-left: 7%;
    display: flex;
}

header ul li, a{
    color: #fff;
    font-size: 15px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    margin-left: 5%;
}

header ul #actual{
    width: 30px;
    background: #ad00ff;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
}

header #campanita{
    width: 15px;
    margin-left: 8%;
}

header #salomon{
    width: 40px;
    margin-left: 3%;
}

.container-cards{
    margin-top: 3%;
    display: flex;
}

.container-cards .btc-card{
    width: 410px;
    height: 600px;
    background: #1a2028;
    margin-left: 10%;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px #ad00ff;
}

.btc-card img{
    margin: auto;
    display: block;
}

.btc-card h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: -20px;
}

.btc-card p{
    color: #fff;
    font-size: 30px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    text-align: center;
}

.btc-card .button{
    width: 130px;
    height: 40px;
    background: #ad00ff;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
}

.login-card{
    width: 581px;
    height: 600px;
    background: #1a2028;
    margin-left: 3%;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px #ad00ff;
}

.login-card img{
    width: 100px;
    margin: auto;
    margin-top: 5%;
    display: block;
}

.login-card input{
    width: 475px;
    height: 69px;
    background: #34373b;
    color: #fff;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 20px;
    border-style: none;
    padding-left: 20px;
}

.login-card p{
    color: #fff;
    font-size: 12px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.buttons-socials{
    width: 400px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    padding: 3px;
}

.buttons-socials .button-login{
    width: 200px;
    height: 60px;
    background: #34373b;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
}

.buttons-socials .button-login img{
    width: 30px;
}

.login-card .button-ingresar{
    width: 500px;
    height: 60px;
    background: #ad00ff;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
}

.button-ingresar p{
    color: #fff;
    font-size: 22px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    padding: 15px;
}

.container-cards .profile-card{
    width: 415px;
    height: 600px;
    background: #1a2028;
    margin-left: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px #ad00ff;
}

.profile-card img{
    margin: auto;
    margin-top: 20px;
    display: block;
}

.profile-card .title-profile h3{
    color: #fff;
    font-size: 35px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    margin-left: 13.5%;
}

.profile-card .title-profile img{
    width: 20px;
    margin-top: -30px;
    margin-left: 18.7%;
    position: absolute;
}

.profile-card .buttons-container{
    margin-left: 12%;
    margin-top: 20px;
    padding: 3px;
    display: flex;
}

.buttons-container .trade{
    width: 60px;
    height: 30px;
    background: #ad00ff;
    border-radius: 9px;
    padding: 5px;
}

.trade p{
    color: #fff;
    font-size: 15px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    text-align: center;
}

.buttons-container .followers{
    width: 120px;
    height: 30px;
    margin-left: 3.7%;
    border-color: #34373b;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
}

.followers p{
    color: #fff;
    font-size: 17px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    text-align: center;
}

.buttons-container .following{
    width: 120px;
    height: 30px;
    margin-left: 10.5%;
    border-color: #34373b;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
}

.following p{
    color: #fff;
    font-size: 17px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    text-align: center;
}